In [1]:
import requests
from pprint import pprint

url = "https://api.bithumb.com/public/ticker/btc"
data = requests.get(url).json()['data']
pprint(data)

{'24H_fluctate': '-70000',
 '24H_fluctate_rate': '-0.61',
 'average_price': '11305906.0458',
 'buy_price': '11220000',
 'closing_price': '11221000',
 'date': '1564393996770',
 'max_price': '11550000',
 'min_price': '11000000',
 'opening_price': '11291000',
 'sell_price': '11221000',
 'units_traded': '4669.0099289',
 'volume_1day': '4669.0099289',
 'volume_7day': '35555.39158721'}

In [10]:
# 아래에 코드를 작성하세요.
# 최고가와 최저가
max = int(data.get('max_price'))
min = int(data.get('min_price'))
# 변동폭
diff = max - min
print(diff)
# 시가
opening_price = int(data['opening_price'])
print(opening_price)
# 시가 + 변동폭이 최고가보다 높나요?
if max > opening_price+diff:
    print('상승장')
else:
    print('하락장')

550000
11291000
하락장

2  모음 제거하기
다음 문장의 모음을 제거하여 출력하세요.

예시 입력)
"Life is too short, you need python"
예시 출력)
Lf s t shrt, y nd pythn

In [11]:
dd = 'Life is too short, you need python'
a = ''
for i in dd:
    if i not in 'aeiou':
        a += i
        
print(a)

Lf s t shrt, y nd pythn

# 과일 개수 골라내기

> 장바구니에 아래와 같은 과일이 들어있고 과일 판별 리스트가 있습니다.

```python
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}

fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

```
> 현재 장바구니에는 과일이 몇개이고 과일이 아닌 것은 몇개인지 출력하시오.
---
```
예시 출력)
과일은 23개이고, 11개는 과일이 아닙니다..
```

In [16]:
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

In [18]:
fruit = 0
not_fruit = 0
for key, value in basket_items.items():
    if key in fruits:
        fruit += value
    else:
        not_fruit += value

print(f'과일은 {fruit}개이고, {not_fruit}개는 과일이 아닙니다..')

과일은 23개이고, 11개는 과일이 아닙니다..

# 영어 이름 출력하기 

> 영어 이름은 가운데 이름을 가지고 있는 경우가 있습니다.
>
> 가운데 이름은 대문자로 축약해서 나타내는 코드를 작성해보세요.

---
```
예시 입력)
Alice Betty Catherine Davis
```
```
예시 출력)
Alice B. C. Davis
```

In [154]:
name = 'Alice Betty Catherine Davis'

In [155]:
name = name.split(' ')

for i in range(1, len(name)-1):
     name[i] = name[i][0] + '.'
print(' '.join(name))

Alice B. C. Davis

# 달력 출력하기

> 1월 1일 월요일부터 12월 31일까지 달력을 출력하세요.

---
```
예시 출력)
         1 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31 
         2 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 

         3 월
Mo Tu We Th Fr Sa Su 
 1  2  3  4  5  6  7 
 8  9 10 11 12 13 14 
15 16 17 18 19 20 21 
22 23 24 25 26 27 28 
29 30 31
...
```

In [200]:
calendar = { 
        1: 31, 2: 28, 3: 31, 4: 30, 5: 31,6: 30, 
        7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31 
} 
weeks = ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su']

In [207]:
for month, days in calendar.items():
    print('\n{0:>11} 월'.format(month))
    print(' {0:>3}'.format(' '.join(weeks)))
    for i in range(1, days+1):
        print('{0:>3}'.format(i), end='')
        if i % 7 == 0:
            print(''.format())

          1 월
 Mo Tu We Th Fr Sa Su
  1  2  3  4  5  6  7
  8  9 10 11 12 13 14
 15 16 17 18 19 20 21
 22 23 24 25 26 27 28
 29 30 31
          2 월
 Mo Tu We Th Fr Sa Su
  1  2  3  4  5  6  7
  8  9 10 11 12 13 14
 15 16 17 18 19 20 21
 22 23 24 25 26 27 28

          3 월
 Mo Tu We Th Fr Sa Su
  1  2  3  4  5  6  7
  8  9 10 11 12 13 14
 15 16 17 18 19 20 21
 22 23 24 25 26 27 28
 29 30 31
          4 월
 Mo Tu We Th Fr Sa Su
  1  2  3  4  5  6  7
  8  9 10 11 12 13 14
 15 16 17 18 19 20 21
 22 23 24 25 26 27 28
 29 30
          5 월
 Mo Tu We Th Fr Sa Su
  1  2  3  4  5  6  7
  8  9 10 11 12 13 14
 15 16 17 18 19 20 21
 22 23 24 25 26 27 28
 29 30 31
          6 월
 Mo Tu We Th Fr Sa Su
  1  2  3  4  5  6  7
  8  9 10 11 12 13 14
 15 16 17 18 19 20 21
 22 23 24 25 26 27 28
 29 30
          7 월
 Mo Tu We Th Fr Sa Su
  1  2  3  4  5  6  7
  8  9 10 11 12 13 14
 15 16 17 18 19 20 21
 22 23 24 25 26 27 28
 29 30 31
          8 월
 Mo Tu We Th Fr Sa Su
  1  2  3  4  5  6  7
  8  9 10 11 12 13 14
 15 16 17 18 19 20 21
 22 23 24 25 26 27 28
 29 30 31
          9 월
 Mo Tu We Th Fr Sa Su
  1  2  3  4  5  6  7
  8  9 10 11 12 13 14
 15 16 17 18 19 20 21
 22 23 24 25 26 27 28
 29 30
         10 월
 Mo Tu We Th Fr Sa Su
  1  2  3  4  5  6  7
  8  9 10 11 12 13 14
 15 16 17 18 19 20 21
 22 23 24 25 26 27 28
 29 30 31
         11 월
 Mo Tu We Th Fr Sa Su
  1  2  3  4  5  6  7
  8  9 10 11 12 13 14
 15 16 17 18 19 20 21
 22 23 24 25 26 27 28
 29 30
         12 월
 Mo Tu We Th Fr Sa Su
  1  2  3  4  5  6  7
  8  9 10 11 12 13 14
 15 16 17 18 19 20 21
 22 23 24 25 26 27 28
 29 30 31

In [216]:
number = '01089336729'
for i in range(0, 7):
    number = number.replace(number[i], '*', 1)
print(number)

*******6729